<div id="media" style="padding-bottom: 70px; position: relative; height: 27885.4px;" ng-init="getPost()">


        <div class="col-sm-12 item animated single-left" ng-repeat="post in posts" data-href="http://app.ninjamediascript.com/media/216"
             data-id="216" style="position: absolute; left: 0px; top: 0px;">


            <div class="social_container">
                <ul class="socialcount socialcount-large"
                    data-url="http://app.ninjamediascript.com/media/highlight-anything-stupid">
                    <li class="facebook"><a
                            href="https://www.facebook.com/sharer/sharer.php?u=http://app.ninjamediascript.com/media/highlight-anything-stupid"
                            target="_blank" title="Share on Facebook"
                            onclick="javascript:window.open(this.href, &#39;_blank&#39;, &#39;menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600&#39;);return false;"><span
                                class="fa fa-facebook"></span><span class="count">Share</span></a></li>
                    <li class="twitter" data-share-text="Highlight Anything Stupid"><a
                            href="https://twitter.com/intent/tweet?url=http://app.ninjamediascript.com/media/highlight-anything-stupid&text=Highlight%20Anything%20Stupid"
                            data-url="http://app.ninjamediascript.com/media/highlight-anything-stupid"
                            title="Share on Twitter"
                            onclick="javascript:window.open(this.href, &#39;_blank&#39;, &#39;menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600&#39;);return false;"><span
                                class="fa fa-twitter"
                                data-url="http://app.ninjamediascript.com/media/highlight-anything-stupid"></span><span
                                class="count">Tweet</span></a></li>
                    <li class="googleplus"><a
                            href="https://plus.google.com/share?url=http://app.ninjamediascript.com/media/highlight-anything-stupid"
                            target="_blank" title="Share on Google Plus"
                            onclick="javascript:window.open(this.href, &#39;_blank&#39;, &#39;menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600&#39;);return false;"><span
                                class="fa fa-google-plus"></span><span class="count">+1</span></a></li>
                    <li class="pinterest"><a
                            href="http://www.pinterest.com/pin/create/button/?url=http://app.ninjamediascript.com/media/highlight-anything-stupid&media=http://app.ninjamediascript.com/content/uploads/images/February2014/highlight-anything-stupid.jpg&description=Highlight%20Anything%20Stupid"
                            title="lang.share_pinit" target="_blank"
                            onclick="javascript:window.open(this.href, &#39;_blank&#39;, &#39;menubar=no,toolbar=no,resizable=no,scrollbars=no,height=400,width=600&#39;);return false;"><span
                                class="fa fa-pinterest"></span><span class="count">Pin It</span></a></li>
                </ul>
            </div>

            <div class="item-large">
                <div class="single-title">


                    <a href="http://app.ninjamediascript.com/user/tony"><img src="ninja_files/tnylea.jpg"
                                                                             class="img-circle user-avatar-medium"></a>

                    <h2 class="item-title"><a
                            href="http://app.ninjamediascript.com/media/highlight-anything-stupid"
                            alt="Highlight Anything Stupid">Highlight Anything Stupid</a></h2>

                    <div class="item-details">
                        <p class="details">Submitted By: <a href="http://app.ninjamediascript.com/user/tony">tony</a>
                            on February 8, 2014</p>

                        <p class="home-like-count"><i class="fa fa-thumbs-o-up"></i> <span>818</span></p>

                        <p class="home-comment-count"><i class="fa fa-comments"></i> 211</p>

                        <p class="home-view-count"><i class="fa fa-eye"></i> 14303 </p>
                    </div>


                    <div class="home-media-like " data-authenticated="false" data-id="216"><i
                            class="fa fa-thumbs-o-up"></i></div>

                </div>

                <div class="clear"></div>


                <a href="http://app.ninjamediascript.com/media/highlight-anything-stupid"
                   alt="Highlight Anything Stupid"><img class="single-media" alt="Highlight Anything Stupid"
                                                        src="ninja_files/highlight-anything-stupid.jpg"></a>


                <!-- end NSFW IF -->

            </div>
            <!-- item-large -->

            <div style="clear:both"></div>
            <div class="media-separator"></div>

        </div>
    <div id="infscr-loading" style="display: none;"><img alt="Loading..."
                                                         src="data:image/gif;base64,R0lGODlhAQABAHAAACH5BAUAAAAALAAAAAABAAEAAAICRAEAOw==">

        <div>
            <div class="loading"><i></i><i></i><i></i></div>
            <p>Loading More Media</p></div>
    </div>
</div>