<?php
$settings = $this->requestAction(
    'social_settings/getsettings'
);
?>


<div id="sidebar_inner-sticky-wrapper" class="sticky-wrapper" style="height: 640px;">
    <div id="sidebar_inner_no">
        <div id="sidebar" style="margin-top:15px;">


            <a class="spcl-button color" href="upload">Submit Picture or
                Video</a>

            <div class="social_block">
                <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F<?php echo $settings['SocialSetting']['fb']; ?>&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:240px; width:100%;" allowTransparency="true"></iframe>
            </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar_inner").sticky({topSpacing: 50});
    });
</script>