/* Lesswise import
================================================== */
.shadowed_text_sharp {
  text-shadow: 1px 1px 0px #000000;
}
.3dtextwhite {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0px 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
.center_absolute {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.center_vertically {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.center_img {
  margin: auto;
  display: block;
}
.imgflip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.text_indent_hack {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
#top-wrapper #top-small-menu .top-social-icons a,
#top-wrapper #top-small-menu h2 {
  color: white;
}
#top-wrapper {
  padding-top: 0px;
  border-top: none;
}
#top-wrapper #top-small-menu {
  border-bottom: 1px solid white;
}
#sticky {
  background-color: #ffffff;
}
#parallax01 {
  background: url('../images/placeholders/def_parallax_dark.jpg') 0% 0 no-repeat fixed;
  height: 100%;
}
