<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!--  ====================  -->
<!--  = Basic Page Needs =  -->
<!--  ====================  -->
	<meta charset="utf-8">
	<title>shared on themelock.com - PureScroll - Truly multi-purpose onepage template</title>
	<meta name="description" content="PureScroll is a truly powerful HTML template combining responsive elements with parallax effect to one incredible package." />
	<meta name="keywords" content="parallax, onepage, html webdesign, web design, web template, ios7, apple, flat, flat design html, single page, one page web design, landing page template" />

<!--  ===========  -->
<!--  = Favicon =  -->
<!--  ===========  -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png" />


<!--  ===================  -->
<!--  = Mobile specific =  -->
<!--  ===================  -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--  =======  -->
<!--  = CSS =  -->
<!--  =======  -->
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="scripts/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/prettyPhoto.css">
	<link rel="stylesheet" href="css/layout.css">




<!--  ================  -->
<!--  = Google fonts =  -->
<!--  ================  -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>




<!--  =====================  -->
<!--  = IE specific HTML5 =  -->
<!--  =====================  -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>



<div id="body-preloader">
	<div class="table-center-vertically">
		<h1><span class="blue">loading</span><span class="red">purescroll</span></h1>
	</div>
</div>

<a href="#"><div id="scroll-up" class="translate-default-down"><i class="fa fa-chevron-up"></i></div></a>



<div id="top-wrapper"><!-- Top wrapper full width and height -->


					<div class="color-bar">
						<div class="c-one"></div>
						<div class="c-two"></div>
						<div class="c-three"></div>
						<div class="c-four"></div>
						<div class="c-five"></div>
					</div>

<div id="top-small-menu">
	<div class="small-menu-container">
		<div class="top-social-icons">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
			<a href="#"><i class="fa fa-pinterest"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
			<a href="#"><i class="fa fa-skype"></i></a>
		</div>
		<h2><i class="fa fa-phone"></i>Call Us: +44 7458 984213</h2>
	</div>
</div>

<div class="top-logo">
	<div class="top-logo-bg">
		<img src="images/logo.png" alt="logo">
	</div>
	<div class="end-triangle"></div>
</div>





<!--  =====================  -->
<!--  = Slider Revolution =  -->
<!--  =====================  -->
<div class="bannercontainer">
	<div class="banner">

		<ul>

<!-- Slide #1 -->
		 <li data-transition="zoomout" data-slotamount="4" data-masterspeed="3000" data-delay="11000">
		   <img src="images/placeholders/def_parallax_dark.jpg" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center" alt="bg image">


		   <div class="caption sfb small-tagline"  data-x="center" data-y="center" data-voffset="-40" data-speed="500" data-start="2600" data-end="6600" data-easing="easeOutBack"><h2>We wanted to create something</h2></div>

		   <div class="caption sfb big-tagline"  data-x="center" data-y="center" data-voffset="0" data-speed="500" data-start="3000" data-end="6300" data-easing="easeOutBack"><h1>Remarkable</h1></div>

		   <div class="caption sft under-dots stt" data-x="center" data-y="center" data-voffset="50" data-hoffset="-110" data-speed="400" data-start="4000" data-end="6500" data-easing="easeOutBack"><h2>sharp design</h2></div>

		   <div class="caption sft under-dots stt" data-x="center" data-y="center" data-voffset="45" data-hoffset="-56" data-speed="400" data-start="4000" data-end="6500" data-easing="easeOutBack"><div class="dot"></div></div>

		   <div class="caption sft under-dots stt" data-x="center" data-y="center" data-voffset="50" data-speed="400" data-start="4000" data-end="6500" data-easing="easeOutBack"><h2>multi-purpose</h2></div>

		   <div class="caption sft under-dots stt" data-x="center" data-y="center" data-voffset="45" data-hoffset="56" data-speed="400" data-start="4000" data-end="6500" data-easing="easeOutBack"><div class="dot"></div></div>

		   <div class="caption sft under-dots stt" data-x="center" data-y="center" data-voffset="50" data-hoffset="110" data-speed="400" data-start="4000" data-end="6500" data-easing="easeOutBack"><h2>user friendly</h2></div>

		   <div class="caption sfb small-tagline"  data-x="center" data-y="center" data-voffset="-90" data-speed="500" data-start="7000" data-easing="easeOutBack"><h2>Purescroll gives you ability to</h2></div>

		   <div class="caption sfb big-tagline"  data-x="center" data-y="center" data-voffset="-50" data-speed="500" data-start="7400" data-easing="easeOutBack"><h1>Combine your own</h1></div>

		    <div class="caption sfb small-caption"  data-x="center" data-y="center" data-voffset="-14" data-speed="500" data-start="7600" data-easing="easeOutBack"><h3>website</h3></div>

		    <div class="caption sfb small-caption mobile-hide"  data-x="center" data-y="center" data-voffset="30" data-speed="500" data-start="8600" data-easing="easeOutBack"><h3>with 20+ combinable elements</h3></div>

		    <div class="caption sfb small-caption mobile-hide"  data-x="center" data-y="center" data-voffset="65" data-speed="500" data-start="9100" data-easing="easeOutBack"><h3>premium sliders</h3></div>

		    <div class="caption sfb small-caption mobile-hide"  data-x="center" data-y="center" data-voffset="100" data-speed="500" data-start="9600" data-easing="easeOutBack"><h3>parallax effect</h3></div>

		    <div class="caption sfb small-caption mobile-hide"  data-x="center" data-y="center" data-voffset="135" data-speed="500" data-start="10100" data-easing="easeOutBack"><h3>... & many more</h3></div>



		 </li>



<!-- Slide #2 -->
		<li data-transition="zoomout" data-slotamount="4" data-masterspeed="3000" data-delay="15000" >
		   <img src="images/placeholders/def_parallax_dark.jpg" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center" alt="bg image">


		   <div class="caption sfb small-tagline"  data-x="center" data-y="center" data-voffset="-40" data-speed="500" data-start="1600" data-easing="easeOutBack"><h2>Pixel perfect, hand-crafted</h2></div>

		   <div class="caption sfb big-tagline"  data-x="center" data-y="center" data-voffset="0" data-speed="500" data-start="2000" data-easing="easeOutBack"><h1>Designed for you</h1></div>

		   <a href="#" class="caption sft header-button blue" data-x="center" data-y="center" data-voffset="70" data-speed="1500" data-start="2500" data-easing="easeOutBack"><i class="fa fa-star-o"></i>Start Here</a>

		    <div class="caption sfb big-caption mobile-hide"  data-x="right" data-y="center" data-speed="500" data-voffset="-120" data-start="3200" data-easing="easeOutBack"><h3>Purescroll <span class="bold">is truly multi-purpose</span></h3></div>

		    <div class="caption sfb small-caption mobile-hide"  data-x="right" data-y="center" data-speed="500" data-voffset="-70" data-start="3600" data-easing="easeOutBack"><h3>Purescroll</h3></div>

		    <div class="caption sfb small-caption mobile-hide"  data-x="right" data-y="center" data-speed="500" data-voffset="-30" data-start="4000" data-easing="easeOutBack"><h3>Purescroll</h3></div>

		    <div class="caption sfb small-caption mobile-hide"  data-x="right" data-y="center" data-speed="500" data-voffset="10" data-start="4400" data-easing="easeOutBack"><h3>Purescroll</h3></div>

		    <div class="caption sfb small-caption mobile-hide"  data-x="right" data-y="center" data-speed="500" data-voffset="50" data-start="4800" data-easing="easeOutBack"><h3>Purescroll</h3></div>

		   <div class="caption sfb mobile-hide"  data-x="center" data-y="bottom" data-voffset="-80" data-speed="500" data-start="1900" data-easing="easeOutBack"><h2>Multi-purpose HTML5 & CSS3 template</h2></div>

		 </li>




		</ul>

	</div>
</div>
<!--  =========================  -->
<!--  = end Slider Revolution =  -->
<!--  =========================  -->







<!--  ====================  -->
<!--  = Parallax section =  -->
<!--  ====================  -->

<!-- <div id="parallax01" class="parallax">
		<div class="overlay-dark-bars"></div>
</div>

<section id="top-content"> -->

<!--  ===================  -->
<!--  = Parallax styles =  -->
<!--  ===================  -->


<!-- YOUR STYLES GOES HERE -->


<!--  =======================  -->
<!--  = [end] Parallax styles =  -->
<!--  =======================  -->

<!-- </section> -->

<!--  ====================  -->
<!--  = end Parallax section =  -->
<!--  ====================  -->




	<!-- Full Navigation wrapper -->
	<div class="top-nav-full">




		<!-- Menu holder -->
		<div id="sticky-holder">
			<!-- Menu not-visible holder / -->
		    <div id="not-sticky" class="sticky-default"></div>
		    <!-- Menu visible -->
			<section id="sticky" class="sticky-default">
				<!-- Container -->



					<!-- Your logo -->
					<div class="small-logo opacity-zero">
						<h1><span class="bold">YOUR</span>TEXT</h1>
					</div>
					<!-- [end] Your logo -->






					<!-- Main Menu -->
					<nav class="main-menu">
					<ul id="top-menu" class="jetmenu">

						<!-- Menu Item -->
						<li class="active blue"><a href="#"><i class="fa fa-home"></i><div class="menu-text"><h3>Home</h3><h4>more styles</h4></div></a>
							<!-- Megamenu -->
							<div class="megamenu half-width">
								<!-- Megamenu row -->
								<div class="row">
									<!-- Megamenu column -->
			                        <div class="col6">
										<h3 class="blue">Slider header</h3>
										<ul>
											<li><a href="index.html">1. Fullscreen</a>
												<div class="li-desc"><p>Default version of the slider</p></div>
											</li>

											<li><a href="page_smallslider.html">2. 3/4 slider</a>
												<div class="li-desc"><p>Ideal for saving screen space</p></div>
											</li>

											<li><a href="page_fullvideo.html">3. Fullscreen video</a>
												<div class="li-desc"><p>Beautiful full-screen video</p></div>
											</li>
										</ul>
									</div>
									<!-- end Megamenu column -->
								</div>
								<!-- end Megamenu row -->
							</div>
							<!-- end Megamenu -->
						</li>
						<!-- end Menu item -->


						<!-- Menu Item -->
						<li class="red"><a href="#about"><i class="fa fa-home"></i><div class="menu-text"><h3>Parallax</h3><h4>header styles</h4></div></a>
							<!-- Megamenu -->
							<div class="megamenu half-width">
								<!-- Megamenu row -->
								<div class="row">

									<!-- Megamenu column -->
			                          <div class="col6">
										<h3 class="red">Parallax header</h3>
										<ul>
											<li><a href="page_parallax01.html">1. Parallax Logo</a>
											</li>

											<li><a href="page_parallax02.html">2. Parallax title slider</a>
											</li>

											<li><a href="page_parallax03.html">3. Parallax dark style</a>
											</li>

											<li><a href="page_parallax04.html">4. Parallax light style</a>
											</li>

											<li><a href="page_parallax05.html">5. Parallax full-width title</a>
											</li>

											<li><a href="page_parallax06.html">6. Parallax circle style</a>
											</li>

											<li><a href="page_parallax07.html">7. Parallax square style</a>
											</li>

											<li><a href="page_parallax08.html">8. Parallax decent</a>
											</li>

											<li><a href="page_parallax09.html">9. Parallax CV</a>
											</li>
										</ul>
			                          </div>
			                          <!-- end Megamenu column -->
								</div>
								<!-- end Megamenu row -->
							</div>
							<!-- end Megamenu -->
						</li>
						<!-- end Menu item -->

						<!-- Menu Item -->
						<li class="green"><a href="#about"><i class="fa fa-check-square"></i><div class="menu-text"><h3>First</h3><h4>elements</h4></div></a>
							<!-- Megamenu -->
							<div class="megamenu half-width">
								<!-- Megamenu row -->
								<div class="row">
			                          <!-- Megamenu column -->
			                          <div class="col6">
										<h3 class="blue">Combinable elements</h3>
										<ul>
											<li><a href="#about"><span class="rounded-bg blue">1</span> Service cards</a>
											</li>

											<li><a href="#awesomeness"><span class="rounded-bg blue">2</span> Awesomeness meter</a>
											</li>

											<li><a href="#portfolio"><span class="rounded-bg blue">3</span> AJAX portfolio</a>
											</li>

											<li><a href="#videosection"><span class="rounded-bg blue">4</span> Video section</a>
											</li>

											<li><a href="#ourteam"><span class="rounded-bg blue">5</span> Our Team</a>
											</li>

											<li><a href="#computer_small"><span class="rounded-bg blue">6</span> Computer preview</a>
											</li>

											<li><a href="#computer_large"><span class="rounded-bg blue">7</span> Computer preview full</a>
											</li>
										</ul>
									</div>
									<!-- end Megamenu column -->
								</div>
								<!-- end Megamenu row -->
							</div>
							<!-- end Megamenu -->
						</li>
						<!-- end Menu item -->



						<!-- Menu Item -->
						<li class="purple"><a href="#aboutme"><i class="fa fa-check-square"></i><div class="menu-text"><h3>Second</h3><h4>elements</h4></div></a>
							<!-- Megamenu -->
							<div class="megamenu half-width">
								<!-- Megamenu row -->
								<div class="row">
			                          <!-- Megamenu column -->
			                          <div class="col6">
										<h3 class="red">Combinable elements</h3>
										<ul>
											<li><a href="#aboutme"><span class="rounded-bg red">8</span> About</a>
											</li>

											<li><a href="#skills"><span class="rounded-bg red">9</span> Skills</a>
											</li>

											<li><a href="#servicesslider"><span class="rounded-bg red">10</span> Services slider</a>
											</li>

											<li><a href="#textsection"><span class="rounded-bg red">11</span> Text section</a>
											</li>

											<li><a href="#awards"><span class="rounded-bg red">12</span> Certificates</a>
											</li>

											<li><a href="#discography"><span class="rounded-bg red">13</span> Discography</a>
											</li>

											<li><a href="#events"><span class="rounded-bg red">14</span> Upcoming events</a>
											</li>
										</ul>
			                          </div>
			                          <!-- end Megamenu column -->

								</div>
								<!-- end Megamenu row -->
							</div>
							<!-- end Megamenu -->
						</li>
						<!-- end Menu item -->



						<!-- Menu Item -->
						<li class="blue"><a href="#testimonials"><i class="fa fa-check-square"></i><div class="menu-text"><h3>Third</h3><h4>elements</h4></div></a>
							<!-- Megamenu -->
							<div class="megamenu half-width">
								<!-- Megamenu row -->
								<div class="row">
			                          <!-- Megamenu column -->
			                          <div class="col6">
										<h3 class="blue">Combinable elements</h3>
										<ul>
											<li><a href="#testimonials"><span class="rounded-bg blue">15</span> Testimonials</a>
											</li>

											<li><a href="#pricingtables"><span class="rounded-bg blue">16</span> Pricing tables</a>
											</li>

											<li><a href="#clients"><span class="rounded-bg blue">17</span> Our Clients</a>
											</li>

											<li><a href="#findus"><span class="rounded-bg blue">18</span> Map</a>
											</li>

											<li><a href="#contactus"><span class="rounded-bg blue">19</span> Contact form</a>
											</li>

										</ul>
			                          </div>
			                          <!-- end Megamenu column -->
								</div>
								<!-- end Megamenu row -->
							</div>
							<!-- end Megamenu -->
						</li>
						<!-- end Menu item -->


						<li class="dark"><a href="page_typography.html"><i class="fa fa-pencil"></i><div class="menu-text"><h3>Typography</h3><h4>and more...</h4></div></a></li>
					</ul>
					</nav>
					<!-- [end] Main Menu -->
					<!-- [end] Container -->

			</section>
			<!-- [end] Menu visible -->
		</div>
		<!-- [end] Menu holder -->
	</div>
	<!-- [end] Full Navigation wrapper -->
</div>
<!-- [end] Top wrapper full width and height -->




<!-- Services -->


<section class="services clearfix header-scroll-link">

<div class="container">

	<a id="about"></a>

	<div class="typed-wrapper">
		<ul class="typed-elements">
			<li>Hello!</li>
			<li>We have something to share...</li>
			<li>Something you'll love...</li>
			<li>Say hello to PureScroll</li>
		</ul>

		<h1 class="large typed-export">&nbsp;</h1>
	</div>

	<h2 class="large">PureScroll was built to serve wide range of purposes. You can use it for company's websites, personal portfolios, creative agencies, music bands to showcase you app. It's super easy to use, yet very powerful and elegantly designed with modern look in mind</h2>
</div>

<div class="container">

	<ul>

		<!-- Service card -->
		<li>
			<section class="one-third column service-card opacity-zero translate-default-down">

				<div class="colored">

					<div class="service-top-part service1">
					<div class="overlay blue"></div>

						<div class="icon-wrapper">
							<i class="fa fa-tablet"></i>
						</div>
					<h1>Responsive</h1>
					</div>


				<div class="service-desc"><p>Using PureScroll on mobile phones or tablets can't get much better. It's fully optimised for any device including those with high resolution displays. It's fully optimised for any device including those with high resolution displays.
				</p>
					<div class="gradient-white"></div>
				</div>



				<ul>
					<li><i class="fa fa-check-circle color-ok"></i>iPad, iPhone ready<hr></li>
					<li><i class="fa fa-check-circle color-ok"></i>Fully optimised for mobile browsing<hr></li>
					<li><i class="fa fa-check-circle color-ok"></i>Retina ready with crystal clear graphics</li>
				</ul>
				</div>

			</section>
		</li>
		<!-- [end] Service card -->

		<!-- Service card -->
		<li>
			<section class="one-third column service-card opacity-zero translate-default-down">

				<div class="colored">
					<div class="service-top-part service2">
					<div class="overlay red"></div>

					<div class="icon-wrapper">
						<i class="fa fa-lightbulb-o"></i>
					</div>
					<h1>Multi-purpose</h1>
					</div>

				<div class="service-desc"><p>Using PureScroll on mobile phones or tablets can't get much better. It's fully optimised for any device including those with high resolution displays. It's fully optimised for any device including those with high resolution displays.
				</p>
					<div class="gradient-white"></div>
				</div>


				<ul>
					<li><i class="fa fa-check-circle color-ok"></i>iPad, iPhone ready<hr></li>
					<li><i class="fa fa-check-circle color-ok"></i>Fully optimised for mobile browsing<hr></li>
					<li><i class="fa fa-check-circle color-ok"></i>Retina ready with crystal clear graphics</li>
				</ul>
				</div>

			</section>
		</li>
		<!-- [end] Service card -->

		<!-- Service card -->
		<li>
			<section class="one-third column service-card opacity-zero translate-default-down">


				<div class="colored">
					<div class="service-top-part service3">
						<div class="overlay green"></div>

					<div class="icon-wrapper">
						<i class="fa fa-pencil"></i>
					</div>
					<h1>Pixel Perfect</h1>
					</div>

				<div class="service-desc"><p>Using PureScroll on mobile phones or tablets can't get much better. It's fully optimised for any device including those with high resolution displays. It's fully optimised for any device including those with high resolution displays.
				</p>
					<div class="gradient-white"></div>
				</div>


				<ul>
					<li><i class="fa fa-check-circle color-ok"></i>iPad, iPhone ready<hr></li>
					<li><i class="fa fa-check-circle color-ok"></i>Fully optimised for mobile browsing<hr></li>
					<li><i class="fa fa-check-circle color-ok"></i>Retina ready with crystal clear graphics</li>
				</ul>
				</div>
			</section>
		</li>
		<!-- [end] Service card -->

	</ul>

</div>



</section>
<!-- [end] Services -->





<!-- Awesomeness meter -->
<section class="awesomeness-meter full-width parallax" id="background-awesomeness">
	<div class="overlay-blue-bars">
	<div class="container">

	<a id="awesomeness"></a>

		<h1 class="awesomeness-header sixteen columns opacity-zero">Awesomeness meter</h1>

		<!-- Section #1 -->
		<section class="four columns awesomeness opacity-zero"><h2 data-perc="3263" data-speed="3000" data-refresh="10">0</h2><h1>Happy clients</h1></section>
		<!-- [end] Section #1 -->

		<!-- Section #2 -->
		<section class="four columns awesomeness opacity-zero"><h2 data-perc="1" data-speed="3000" data-refresh="10">0</h2><h1>Theme</h1></section>
		<!-- [end] Section #2 -->

		<!-- Section #3 -->
		<section class="four columns awesomeness opacity-zero"><h2 data-perc="872" data-speed="3000" data-refresh="10">0</h2><h1>Followers</h1></section>
		<!-- [end] Section #3 -->

		<!-- Section #4 -->
		<section class="four columns awesomeness opacity-zero"><h2 data-perc="236" data-speed="3000" data-refresh="10">0</h2><h1>Starbucks visits</h1></section>
		<!-- [end] Section #4 -->

	</div>
</div>
</section>
<!-- [end] Awesomeness meter-->





<!-- Portfolio section -->
<section class="portfolio-section">
<div class="container">

	<a id="portfolio"></a>


	<h1 class="large">Our works</h1>
	<h2 class="large">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h2>
</div>



<section class="full-width">
<a id="ajax-link"></a>

<!-- Portfolio AJAX section -->
<div id="portfolio-more-outer">
	<div id="ajax-error"></div>
	<div id="ajax-loading"></div>

	<!-- AJAX controls -->
	<div class="container portfolio-controls">

		<ul class="portfolio-close-wrapper">
			<li><a href="#ajax-link" class="portfolio-close"><i class="fa fa-times"></i></a></li>
		</ul>

		<ul class="portfolio-arrows">
			<li><a href="#" class="portfolio-arrow-left"><i class="fa fa-angle-left"></i></a></li><li><a href="#" class="portfolio-arrow-right"><i class="fa fa-angle-right"></i></a></li>
		</ul>

	</div>
	<!-- [end] AJAX controls -->

	<!-- AJAX content holder -->
	<div id="portfolio-more"></div>
	<!-- [end] AJAX content holder -->

</div>
<!-- [end] Portfolio AJAX section -->



<!-- Portfolio filter -->
<ul class="sortable-filter portfolio-filter">

    <li data-filter="*" class="current">All Categories</li><li data-filter=".f1">Filter #1</li><li data-filter=".f2">Filter #2</li><li data-filter=".f3">Filter #3</li><li data-filter=".f4">Filter #4</li>

</ul>
<!-- [end] Portfolio filter -->




<!-- Portfolio items container -->
<div class="portfolio-container">


<!-- Portfolio item -->
    <div class="f1 f2">
		<div class="portfolio-item opacity-zero ">
		    <img src="images/placeholders/def_portfolio.jpg" alt="image">
			<a href="#" id="video-item"><div class="portfolio-overlay">
				<div class="overlay-txt">
				<h1>Video + images</h1>
				<h2>Amazing tagline</h2>
			</div>
			</div>
			</a>
        </div>
    </div>
<!-- [end] Portfolio item -->

<!-- Portfolio item -->
    <div class="f4 f2">
		<div class="portfolio-item opacity-zero">
        <img src="images/placeholders/def_portfolio.jpg" alt="image">
			<a href="#" id="single-slider"><div class="portfolio-overlay">
				<h1>Single slider</h1>
				<h2>Amazing tagline</h2>
			</div>
			</a>
	    </div>
    </div>
<!-- [end] Portfolio item -->


<!-- Portfolio item -->
    <div class="f1">
		<div class="portfolio-item opacity-zero">
        <img src="images/placeholders/def_portfolio.jpg" alt="image">
			<a href="#" id="slider-carousel"><div class="portfolio-overlay">
				<h1>Slider + carousel</h1>
				<h2>Amazing tagline</h2>
			</div>
			</a>
		</div>
    </div>
<!-- [end] Portfolio item -->


<!-- Portfolio item -->
    <div class="f2 f3">
		<div class="portfolio-item opacity-zero">
        <img src="images/placeholders/def_portfolio.jpg" alt="image">
			<a href="#" id="project-7"><div class="portfolio-overlay">
				<h1>Portfolio Item</h1>
				<h2>Amazing tagline</h2>
			</div>
			</a>
       </div>
    </div>
<!-- [end] Portfolio item -->



<!-- Portfolio item -->
    <div class="f4">
		<div class="portfolio-item opacity-zero ">
		<img src="images/placeholders/def_portfolio.jpg" alt="image">
			<a href="#" id="project-1"><div class="portfolio-overlay">
				<h1>Portfolio Item</h1>
				<h2>Amazing tagline</h2>
			</div>
			</a>
	    </div>
    </div>
<!-- [end] Portfolio item -->


<!-- Portfolio item -->
    <div class="f1">
		<div class="portfolio-item opacity-zero">
		<img src="images/placeholders/def_portfolio.jpg" alt="image">
					<a href="#" id="project-2"><div class="portfolio-overlay">
				<h1>Portfolio Item</h1>
				<h2>Amazing tagline</h2>
			</div>
			</a>
	    </div>
    </div>
<!-- [end] Portfolio item -->


<!-- Portfolio item -->
    <div class="f2 f4">
		<div class="portfolio-item opacity-zero">
		<img src="images/placeholders/def_portfolio.jpg" alt="image">
					<a href="#" id="project-3"><div class="portfolio-overlay">
				<h1>Portfolio Item</h1>
				<h2>Amazing tagline</h2>
			</div>
			</a>
	    </div>
    </div>
<!-- [end] Portfolio item -->


<!-- Portfolio item -->
    <div class="f3">
		<div class="portfolio-item opacity-zero">
		<img src="images/placeholders/def_portfolio.jpg" alt="image">
					<a href="#" id="project-4"><div class="portfolio-overlay">
				<h1>Portfolio Item</h1>
				<h2>Amazing tagline</h2>
			</div>
			</a>
	    </div>
    </div>
<!-- [end] Portfolio item -->


<!-- Portfolio item -->
    <div class="f2 f1">
		<div class="portfolio-item opacity-zero">
		<img src="images/placeholders/def_portfolio.jpg" alt="image">
					<a href="#" id="project-5"><div class="portfolio-overlay">
				<h1>Portfolio Item</h1>
				<h2>Amazing tagline</h2>
			</div>
			</a>
	    </div>
    </div>
<!-- [end] Portfolio item -->


<!-- Portfolio item -->
    <div class="f4">
		<div class="portfolio-item opacity-zero">
		<img src="images/placeholders/def_portfolio.jpg" alt="image">
					<a href="#" id="project-6"><div class="portfolio-overlay">
				<h1>Portfolio Item</h1>
				<h2>Amazing tagline</h2>
			</div>
			</a>
	    </div>
    </div>
<!-- [end] Portfolio item -->


    </div>
<!-- [end] Portfolio items container -->

</section>
</section>

<!-- [end] Portfolio section -->



<!-- Video section -->
<section class="video-section full-width">
	<div class="container">

		<a id="videosection"></a>

			<h1 class="large">Video post</h1>
			<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>

	<!-- Video holder -->
		<div class="video-holder">
			<iframe src="//player.vimeo.com/video/58894324?title=0&amp;byline=0&amp;portrait=0" width="500" height="281"></iframe>
		</div>
	<!-- [end] Video holder -->

	</div>


	<!-- Additional videos full width holder -->
	<div class="full-width additional-videos">
		<div class="container">

			<!-- Additional video #1 -->
			<div class="push-one-column eight columns additional-video">
				<a href="https://vimeo.com/58894324" data-rel="prettyPhoto">
					<img src="images/placeholders/def_videothumb.jpg" alt="video thumbnail">
				</a>
				<h1>Additional video</h1>
			</div>
			<!-- [end] Additional video #1 -->


			<!-- Additional video #2 -->
			<div class="eight columns additional-video">
				<a href="https://vimeo.com/58894324" data-rel="prettyPhoto">
					<img src="images/placeholders/def_videothumb.jpg" alt="video thumbnail">
				</a>
			    <h1>Additional video</h1>
			</div>
			<!-- [end] Additional video #2 -->


		</div>
	</div>
	<!-- [end] Additional videos full width holder -->

	<!-- Show more button -->
	<div class="button-more"><div class="container"><a href="#"><p>Show other videos</p><i class="fa fa-caret-down"></i></a></div></div>
	<!-- [end] Show more button -->

</section> <!-- [end] Video section -->



<!-- Blog section -->
<section class="blog-section full-width">
	<div class="container">

		<a id="blogsection"></a>

			<h1 class="large">Blog posts</h1>
			<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>

<!-- Single blog -->
<div class="single-blog">
	<div class="blog-top">
		<div class="blog-date green">
			<h1>13</h1>
			<h2>March, 2014</h2>
		</div>
		<div class="blog-overlay">
			<a href="#"><img src="images/placeholders/def_parallax_dark.jpg" alt="placeholder"></a>
		</div>
	</div>
	<div class="blog-bottom">
		<h1><a href="#">Long title goes here</a></h1>
		<div class="under-title">
			<h2><i class="fa fa-folder-open"></i>Category</h2>
			<h2><i class="fa fa-user"></i>Author</h2>
			<h2><i class="fa fa-tags"></i>Tag#1, Tag#2, Tag #3</h2>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium onec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p> <a class="button-read-more green" href="#"><h3>Continue reading</h3><i class="fa fa-arrow-right"></i></a>
	</div>
</div>
<!-- end Single blog -->



<!-- Single blog -->
<div class="single-blog">
	<div class="blog-top">
		<div class="blog-date green">
			<h1>13</h1>
			<h2>March, 2014</h2>
		</div>
		<div class="blog-overlay">
			<a href="#"><img src="images/placeholders/def_parallax_dark.jpg" alt="placeholder"></a>
		</div>
	</div>
	<div class="blog-bottom">
		<h1><a href="#">Long title goes here</a></h1>
		<div class="under-title">
			<h2><i class="fa fa-folder-open"></i>Category</h2>
			<h2><i class="fa fa-user"></i>Author</h2>
			<h2><i class="fa fa-tags"></i>Tag#1, Tag#2, Tag #3</h2>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium onec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p> <a class="button-read-more green" href="#"><h3>Continue reading</h3><i class="fa fa-arrow-right"></i></a>
	</div>
</div>
<!-- end Single blog -->


<!-- Show more button -->
	<div class="button-more-blog-posts">
		<a class="button blue" href="#">View older posts</a>
	</div>
<!-- [end] Show more button -->

</div>


</section> <!-- [end] Blog section -->



<!-- Who we are -->
	<section class="who-we-are">
	<div class="container">

		<a id="ourteam"></a>

			<h1 class="large">Our team</h1>
			<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>

		<!-- Person  -->
		<section class="person-div opacity-zero">
			<div class="person-overlay">
			<img src="images/placeholders/def_our_team.jpg" alt="Person">
				<div class="person-desc">
					<h1>Tom Moore</h1>
					<h2>Chief executive</h2>
				</div>
					<div class="color-bar">
						<div class="c-one"></div>
						<div class="c-two"></div>
						<div class="c-three"></div>
						<div class="c-four"></div>
						<div class="c-five"></div>
					</div>
			</div>
					<div class="person-more-info">
						<p><b>Tom Moore</b> is Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

						<!-- Social networks -->
						<ul class="social-icons">
							<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dropbox"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-flickr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li class="clearfix"></li>
						</ul>
						<!-- [end] Social networks -->

					</div>

		</section>
		<!-- [end] Person  -->



		<!-- Person  -->
		<section class="person-div opacity-zero">
			<div class="person-overlay">
			<img src="images/placeholders/def_our_team.jpg" alt="Person">
				<div class="person-desc">
					<h1>Josh Keenbury</h1>
					<h2>Web Developer</h2>
				</div>
					<div class="color-bar">
						<div class="c-one"></div>
						<div class="c-two"></div>
						<div class="c-three"></div>
						<div class="c-four"></div>
						<div class="c-five"></div>
					</div>
			</div>


					<div class="person-more-info">
						<p><b>Josh Keenbury</b> is Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

						<!-- Social networks -->
						<ul class="social-icons">
							<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dropbox"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-flickr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li class="clearfix"></li>
						</ul>
						<!-- [end] Social networks -->

					</div>

		</section>
		<!-- [end] Person  -->



		<!-- Person  -->
		<section class="person-div opacity-zero">
			<div class="person-overlay">
			<img src="images/placeholders/def_our_team.jpg" alt="Person">
				<div class="person-desc">
					<h1>Amber Warington</h1>
					<h2>UX designer</h2>
				</div>
					<div class="color-bar">
						<div class="c-one"></div>
						<div class="c-two"></div>
						<div class="c-three"></div>
						<div class="c-four"></div>
						<div class="c-five"></div>
					</div>
			</div>


				<div class="person-more-info">
						<p><b>Amber Warington</b> is Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>

						<!-- Social networks -->
						<ul class="social-icons">
							<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dropbox"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-flickr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li class="clearfix"></li>
						</ul>
						<!-- [end] Social networks -->

					</div>

		</section>
		<!-- [end] Person  -->




		<div class="clearfix"></div>
		<!-- Person -->
		<section class="person-div opacity-zero">
			<div class="person-overlay">
			<img src="images/placeholders/def_our_team.jpg" alt="Person">
				<div class="person-desc">
					<h1>Amber Warington</h1>
					<h2>UX designer</h2>
				</div>
					<div class="color-bar">
						<div class="c-one"></div>
						<div class="c-two"></div>
						<div class="c-three"></div>
						<div class="c-four"></div>
						<div class="c-five"></div>
					</div>
			</div>


				<div class="person-more-info">
						<p><b>Amber Warington</b> is Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>

						<!-- Social networks -->
						<ul class="social-icons">
							<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dropbox"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-flickr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li class="clearfix"></li>
						</ul>
						<!-- [end] Social networks -->

					</div>

		</section>
		<!-- [end] Person  -->


		<!-- Person  -->
		<section class="person-div opacity-zero">
			<div class="person-overlay">
			<img src="images/placeholders/def_our_team.jpg" alt="Person">
				<div class="person-desc">
					<h1>Amber Warington</h1>
					<h2>UX designer</h2>
				</div>
					<div class="color-bar">
						<div class="c-one"></div>
						<div class="c-two"></div>
						<div class="c-three"></div>
						<div class="c-four"></div>
						<div class="c-five"></div>
					</div>
			</div>


				<div class="person-more-info">
						<p><b>Amber Warington</b> is Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>

						<!-- Social networks -->
						<ul class="social-icons">
							<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dropbox"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-flickr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li class="clearfix"></li>
						</ul>
						<!-- [end] Social networks -->

					</div>

		</section>
		<!-- [end] Person  -->


		<!-- Person  -->
		<section class="person-div opacity-zero">
			<div class="person-overlay">
				<img src="images/placeholders/def_our_team.jpg" alt="Person">
				<div class="person-desc">
					<h1>Amber Warington</h1>
					<h2>UX designer</h2>
				</div>
					<div class="color-bar">
						<div class="c-one"></div>
						<div class="c-two"></div>
						<div class="c-three"></div>
						<div class="c-four"></div>
						<div class="c-five"></div>
					</div>
			</div>



				<div class="person-more-info">
						<p><b>Amber Warington</b> is Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. </p>

						<!-- Social networks -->
						<ul class="social-icons">
							<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dropbox"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-flickr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li class="clearfix"></li>
						</ul>
						<!-- [end] Social networks -->
					</div>

		</section>
		<!-- [end] Person  -->



		</div>
	</section>

<!-- [end] Who we are -->




<!-- PC side -->
<div class="pc-side full-width">

	<a id="computer_small"></a>

	<div class="color-bar">
		<div class="c-one"></div>
		<div class="c-two"></div>
		<div class="c-three"></div>
		<div class="c-four"></div>
		<div class="c-five"></div>
	</div>
	<div class="pc-side-inner">
	<div class="container">





	<div class="macbook-small eight columns">
		<img src="images/macbook_small_screen.jpg" alt="macbook screen">
	</div>

	<div class="pc-text-section eight columns">
		<h1><span class="red">Your</span><span class="blue"> App.</span><span class="green"> Your</span><span class="orange"> Rules</span></h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
	</div>
	</div>
	</div>
</div>
<!-- end PC side -->


<!-- PC big -->
<div class="pc-big container">

	<a id="computer_large"></a>

	<h1 class="large">Hello. I'm really cool</h1>
	<h2 class="large">PureScroll was built to serve wide range of purposes. You can use it for company's websites, personal portfolios, creative agencies, music bands to showcase you app. It's super easy to use, yet very powerful and elegantly designed with modern look in mind</h2>

	<div class="divider-shadow-bottom"></div>

	<div class="macbook-top translate-default-down">
		<img src="images/macbook_top_screen.jpg" alt="macbook screen">
	</div>
</div>
<!-- end PC big -->




<!-- Who I am -->
<section class="who-i-am full-width">

<div class="container">

		<a id="aboutme"></a>


		<div class="container five columns person-single">
			<img src="images/placeholders/def_profile_pic.jpg" alt="profile picture">


			<!-- Social networks -->
			<ul class="social-icons">
				<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dropbox"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-flickr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
			</ul>
			<!-- [end] Social networks -->

		</div>

	<div class="who-i-am-text container eleven columns">

		<h1>Hello, I'm Jess!</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia </p>

		<div class="buttons-section">
			<a class="button green float-left" href="#"><i class="fa fa-wrench"></i>View my skills</a>
			<a href="#" class="button orange float-right"><i class="fa fa-book"></i>Download my CV</a>
		</div>
	</div>

	<div class="clearfix"></div>

	</div>
</section>
<!-- [end] Who I am -->




<!-- My skills -->
<section class="my-skills">
	<div class="container">

		<a id="skills"></a>

			<h1 class="large">My skills</h1>
			<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>
	</div>

	<!-- Section divider -->

	<!-- MAIN Skill -->
	<section class="skill">
	<div class="container sixteen columns">
		<div class="skill-text red"><h1>Graphic<br>Design</h1></div>
		<div class="skill-slider-wrapper">
			<div class="skill-slider red" data-perc="90">
				<h2>7+ years of experience</h2>
			</div>
		</div>

		<!-- Hidden skills -->
		<div class="container skills-additional">

			<!-- H skill -->
			<div class="container two columns additional-single red opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="90" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->


			<!-- H skill -->
			<div class="container two columns additional-single red opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->


			<!-- H skill -->
			<div class="container two columns additional-single red opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single red opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single red opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single red opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single red opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single red opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

		</div>
		<!-- end Hidden skills -->
	</div>
	</section>
	<!-- [end] MAIN Skill -->




	<!-- MAIN Skill -->
	<section class="skill">
	<div class="container sixteen columns">
		<div class="skill-text blue"><h1>Graphic<br>Design</h1></div>
		<div class="skill-slider-wrapper">
			<div class="skill-slider blue" data-perc="90">
				<h2>7+ years of experience</h2>
			</div>
		</div>

		<!-- Hidden skills -->
		<div class="container skills-additional">

			<!-- H skill -->
			<div class="container two columns additional-single blue opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="90" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->


			<!-- H skill -->
			<div class="container two columns additional-single blue opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->


			<!-- H skill -->
			<div class="container two columns additional-single blue opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single blue opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single blue opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single blue opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single blue opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single blue opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

		</div>
		<!-- end Hidden skills -->
	</div>
	</section>
	<!-- [end] MAIN Skill -->



	<!-- MAIN Skill -->
	<section class="skill">
	<div class="container sixteen columns">
		<div class="skill-text green"><h1>Graphic<br>Design</h1></div>
		<div class="skill-slider-wrapper">
			<div class="skill-slider green" data-perc="90">
				<h2>7+ years of experience</h2>
			</div>
		</div>

		<!-- Hidden skills -->
		<div class="container skills-additional">

			<!-- H skill -->
			<div class="container two columns additional-single green opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="90" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->


			<!-- H skill -->
			<div class="container two columns additional-single green opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->


			<!-- H skill -->
			<div class="container two columns additional-single green opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single green opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single green opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single green opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single green opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

			<!-- H skill -->
			<div class="container two columns additional-single green opacity-zero translate-default-up">
				<div class="icon-wrapper"><h1 data-perc="60" data-speed="1000" data-refresh="3">0</h1></div>
				<h1>Photoshop</h1>
			</div>
			<!-- end H skill -->

		</div>
		<!-- end Hidden skills -->
	</div>
	</section>
	<!-- [end] MAIN Skill -->




	<div class="clearfix"></div>
</section>
<!-- [end] My skills -->



<!-- Services (icons) -->
<section class="services-main clearfix">

	<div class="container">

		<a id="servicesslider"></a>

		<h1 class="large">Our services</h1>
		<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>

		<ul class="services-controller">
			<li class="four columns service-individual red">
				<div class="icon-wrapper">
					<i class="fa fa-globe"></i>
				</div>
				<h1>Web design</h1>
			</li>
			<li class="four columns service-individual red">
				<div class="icon-wrapper">
					<i class="fa fa-lightbulb-o"></i>
				</div>
				<h1>Advertising</h1>
			</li>
			<li class="four columns service-individual red">
				<div class="icon-wrapper">
					<i class="fa fa-star"></i>
				</div>
				<h1>Branding</h1>
			</li>
			<li class="four columns service-individual red">
				<div class="icon-wrapper">
					<i class="fa fa-video-camera"></i>
				</div>
				<h1>Video production</h1>
			</li>

			<li class="clearfix"></li>
		</ul>
	</div>

	<div class="full-width services-slider">
		<div class="container flexslider-services">
			<ul class="slides">
				<li>
					<h1>Web Design</h1>
					<h2>[web dɪˈzaɪn]</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

					<div class="button-container">
						<a class="button green" href="#skills"><i class="fa fa-globe"></i>Let's talk web design</a>
					</div>
				</li>

				<li>
					<h1>Advertising</h1>
					<h2>[ˈædvətaɪzɪŋ]</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

					<div class="button-container">
						<a class="button red" href="#skills"><i class="fa fa-lightbulb-o"></i>Let's talk advertising</a>
					</div>
				</li>

				<li>
					<h1>Branding</h1>
					<h2>[ˈbrændɪŋ]</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

					<div class="button-container">
						<a class="button blue" href="#skills"><i class="fa fa-star"></i>Let's talk branding</a>
					</div>
				</li>

				<li>
					<h1>Video production</h1>
					<h2>[ˈvɪdiəʊ prəˈdʌkʃn]</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>

					<div class="button-container">
						<a class="button orange" href="#skills"><i class="fa fa-video-camera"></i>Let's talk video</a>
					</div>
				</li>
			</ul>
		</div>
	</div>


</section>


<!-- [end] Services (icons) -->


<!-- Text section -->
<section class="text-section full-width" id="background-textsection">
	<div class="overlay-dark-bars">
	<div class="container">

	<a id="textsection"></a>

	<h2><i class="fa fa-quote-left"></i>Some people live in a bitter, angry, hate-filled world. Some people live in a friendly, caring, love-filled world. <span class="bold">Same world...</span><i class="fa fa-quote-right"></i></h2>
	<h3>Jose N. Harris</h3>
</div>
</div>
</section>
<!-- [end] Text section -->




<!-- Certificates -->
<section class="certificates clearfix">

	<div class="container">

		<a id="awards"></a>

		<h1 class="large">My Certificates</h1>
		<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>


	<!-- Filter buttons -->
	<ul class="sortable-filter certificates-filter">
	    <li data-filter="*" class="current">All Categories</li><li data-filter=".f_c1" class="blue">Filter #1</li><li data-filter=".f_c2" class="green">Filter #2</li><li data-filter=".f_c3" class="purple">Filter #3</li>
	</ul>
	<!-- [end] Filter buttons -->


	<ul class="certificates-container">
		<!-- Certificate -->
		<li class="certificate-wrapper container four columns f_c1 blue"><a href="images/placeholders/def_parallax.jpg" data-rel="prettyPhoto"><div class="certificate-inner"><img src="images/placeholders/def_certificate.jpg" alt="logo"></div></a><h1>Long Certificate Name Goes Here</h1></li>
		<!-- [end] Certificate  -->

		<!-- Certificate -->
		<li class="certificate-wrapper container four columns f_c2 green"><a href="images/placeholders/def_parallax.jpg" data-rel="prettyPhoto"><div class="certificate-inner"><img src="images/placeholders/def_certificate.jpg" alt="logo"></div></a><h1>Long Certificate Name Goes Here</h1></li>
		<!-- [end] Certificate  -->

		<!-- Certificate -->
		<li class="certificate-wrapper container four columns f_c3 purple"><a href="images/placeholders/def_parallax.jpg" data-rel="prettyPhoto"><div class="certificate-inner"><img src="images/placeholders/def_certificate.jpg" alt="logo"></div></a><h1>Long Certificate Name Goes Here</h1></li>
		<!-- [end] Certificate  -->

		<!-- Certificate -->
		<li class="certificate-wrapper container four columns f_c1 blue"><a href="images/placeholders/def_parallax.jpg" data-rel="prettyPhoto"><div class="certificate-inner"><img src="images/placeholders/def_certificate.jpg" alt="logo"></div></a><h1>Long Certificate Name Goes Here</h1></li>
		<!-- [end] Certificate  -->
	</ul>
	</div>

	<!--  Additional Certificates List -->
	<div id="more-certificates">
		<h2 class="more-certificates-header-h2">More Certificates</h2>
		<h1 class="more-certificates-header">Software</h1>
		<ul>
			<li class="more-certificates-certificate">Certificate #1</li>
			<li class="more-certificates-certificate">Certificate #2</li>
			<li class="more-certificates-certificate">Certificate #3</li>
			<li class="more-certificates-certificate">Certificate #4</li>
		</ul>

		<h1 class="more-certificates-header">Business</h1>
		<ul>
			<li class="more-certificates-certificate">Certificate #1</li>
			<li class="more-certificates-certificate">Certificate #2</li>
			<li class="more-certificates-certificate">Certificate #3</li>
			<li class="more-certificates-certificate">Certificate #4</li>
		</ul>
	</div>
	<!--  [end] Additional Certificates List -->

</section>
<!-- [end] Certificates -->





<!-- Discography -->
<section class="discography clearfix">

	<div class="container">

		<a id="discography"></a>

		<h1 class="large">Discography</h1>
		<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>
	</div>

	<div class="container sixteen columns discography-wrapper">
		<ul>
			<!-- Album #1 -->
			<li class="album-wrapper four columns"><a href="#"><img src="images/placeholders/def_album.jpg" alt="Lonely Galaxy"></a><h1>Lonely Galaxy</h1><h2>2013, DevPixels Records</h2></li>
			<!-- [end] Album #1 -->

			<!-- Album #2 -->
			<li class="album-wrapper four columns"><a href="#"><img src="images/placeholders/def_album.jpg" alt="Sculpture"></a><h1>Sculpture</h1><h2>2010, Red Mystique Records</h2></li>
			<!-- [end] Album #2 -->

			<!-- Album #3 -->
			<li class="album-wrapper four columns"><a href="#"><img src="images/placeholders/def_album.jpg" alt="Velvet"></a><h1>Velvet</h1><h2>2008, RedCore FX Records</h2></li>
			<!-- [end] Album #3 -->

			<!-- Album #4 -->
			<li class="album-wrapper four columns"><a href="#"><img src="images/placeholders/def_album.jpg" alt="The Seventy"></a><h1>The Seventy</h1><h2>2007, Red Mystique Records</h2></li>
			<!-- [end] Album #4 -->
		</ul>
	</div>

</section>
<!-- [end] Discography -->




<!-- Upcoming events -->
<section class="upcoming-events">
	<div class="container">

		<a id="events"></a>

		<h1 class="large">Upcoming events</h1>
		<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>
	</div>

<div class="container sixteen columns events-bg-wrapper">

	<!-- event -->
	<section class="event-wrapper">
		<div class="container two columns event-calendar">
			<h2>- Sep -</h2>
			<h1>28</h1>
			<h3>Saturday</h3>
		</div>
		<div class="container fourteen columns event-details">
			<div class="event-details-cell">
				<h1>02 Arena</h1>
				<h2>London, United Kingdom</h2>
				<h2>19:30</h2>
			</div>
			<div class="button-container">
				<a href="#" class="button blue"><i class="fa fa-shopping-cart"></i>Find tickets</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>
	<!-- [end] event -->

	<!-- event -->
	<section class="event-wrapper">
		<div class="container two columns event-calendar">
			<h2>- Sep -</h2>
			<h1>29</h1>
			<h3>Sunday</h3>
		</div>
		<div class="container fourteen columns event-details">
			<div class="event-details-cell">
				<h1>The Brighton Centre</h1>
				<h2>Brighton, United Kingdom</h2>
				<h2>21:00</h2>
			</div>
			<div class="button-container">
				<a href="#" class="button blue"><i class="fa fa-shopping-cart"></i>Find tickets</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>
	<!-- [end] event -->

	<!-- event -->
	<section class="event-wrapper">
		<div class="container two columns event-calendar">
			<h2>- Sep -</h2>
			<h1>30</h1>
			<h3>Monday</h3>
		</div>
		<div class="container fourteen columns event-details">
			<div class="event-details-cell">
				<h1>Oddysey Arena</h1>
				<h2>Belfast, Northern Ireland</h2>
				<h2>20:30</h2>
			</div>
			<div class="button-container">
				<a href="#" class="button"><i class="fa fa-shopping-cart"></i>Sold Out</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>
	<!-- [end] event -->


	<!-- event -->
	<section class="event-wrapper">
		<div class="container two columns event-calendar">
			<h2>- Oct -</h2>
			<h1>1</h1>
			<h3>Wednesday</h3>
		</div>
		<div class="container fourteen columns event-details">
			<div class="event-details-cell">
				<h1>Oddysey Arena</h1>
				<h2>Belfast, Northern Ireland</h2>
				<h2>20:30</h2>
			</div>
			<div class="button-container">
				<a href="#" class="button blue"><i class="fa fa-shopping-cart"></i>Find tickets</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>
	<!-- [end] event -->




<!-- Hidden events -->
<section class="events-more">

<!-- event -->
	<section class="event-wrapper">
		<div class="container two columns event-calendar">
			<h2>- Sep -</h2>
			<h1>28</h1>
			<h3>Saturday</h3>
		</div>
		<div class="container fourteen columns event-details">
			<div class="event-details-cell">
				<h1>02 Arena</h1>
				<h2>London, United Kingdom</h2>
				<h2>19:30</h2>
			</div>
			<div class="button-container">
				<a href="#" class="button blue"><i class="fa fa-shopping-cart"></i>Find tickets</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>
<!-- [end] event -->

<!-- event -->
	<section class="event-wrapper">
		<div class="container two columns event-calendar">
			<h2>- Sep -</h2>
			<h1>29</h1>
			<h3>Sunday</h3>
		</div>
		<div class="container fourteen columns event-details">
			<div class="event-details-cell">
				<h1>The Brighton Centre</h1>
				<h2>Brighton, United Kingdom</h2>
				<h2>21:00</h2>
			</div>
			<div class="button-container">
				<a href="#" class="button blue"><i class="fa fa-shopping-cart"></i>Find tickets</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>
<!-- [end] event -->

<!-- event -->
	<section class="event-wrapper">
		<div class="container two columns event-calendar">
			<h2>- Sep -</h2>
			<h1>30</h1>
			<h3>Monday</h3>
		</div>
		<div class="container fourteen columns event-details">
			<div class="event-details-cell">
				<h1>Oddysey Arena</h1>
				<h2>Belfast, Northern Ireland</h2>
				<h2>20:30</h2>
			</div>
			<div class="button-container">
				<a href="#" class="button"><i class="fa fa-shopping-cart"></i>Sold Out</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>
<!-- [end] event -->


<!-- event -->
	<section class="event-wrapper">
		<div class="container two columns event-calendar">
			<h2>- Oct -</h2>
			<h1>1</h1>
			<h3>Wednesday</h3>
		</div>
		<div class="container fourteen columns event-details">
			<div class="event-details-cell">
				<h1>Oddysey Arena</h1>
				<h2>Belfast, Northern Ireland</h2>
				<h2>20:30</h2>
			</div>
			<div class="button-container">
				<a href="#" class="button blue"><i class="fa fa-shopping-cart"></i>Find tickets</a>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>

<!-- [end] event -->


</section>
<!-- [end] Hidden events -->

	<div class="last-event-transition"></div>
</div>

	<!-- Show more events button -->
	<div class="container button-more"><a href="#"><p>Show more events</p><i class="fa fa-caret-down"></i></a></div>
	<!-- [end] Show more events button -->

</section>
<!-- [end] Upcoming events -->




<!-- Testimonials -->
<section id="background-testimonials" class="testimonials-section full-width">
	<div class="overlay-blue-bars">
	<div class="container">

		<a id="testimonials"></a>

		<h1 class="large">Said About Us</h1>

		<div class="flexslider-testimonials">
			<ul class="slides">
				<!-- Testimonial  -->
				<li>
						<img src="images/placeholders/def_testimonials.jpg" alt="testimonial">
						<hr>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu ipsum nisl. Sed nec libero augue. Etiam commodo rhoncus dapibus. Curabitur ac euismod augue. Quisque eget lacinia velit, sed malesuada arcu.</p>
						<hr>
						<h2>- Jess Doe -</h2>
				</li>
				<!-- [end] Testimonial  -->

				<!-- Testimonial  -->
				<li>
					<img src="images/placeholders/def_testimonials.jpg" alt="testimonial">
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu ipsum nisl. Sed nec libero augue. Etiam commodo rhoncus dapibus. Curabitur ac euismod augue. Quisque eget lacinia velit, sed malesuada arcu.</p>
					<hr>
					<h2>- John Doe -</h2>
				</li>
				<!-- [end] Testimonial  -->

				<!-- Testimonial  -->
				<li>
					<img src="images/placeholders/def_testimonials.jpg" alt="testimonial">
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu ipsum nisl. Sed nec libero augue. Etiam commodo rhoncus dapibus. Curabitur ac euismod augue. Quisque eget lacinia velit, sed malesuada arcu.</p>
					<hr>
					<h2>- John Doe -</h2>
				</li>
				<!-- [end] Testimonial  -->

				<!-- Testimonial  -->
				<li>
					<img src="images/placeholders/def_testimonials.jpg" alt="testimonial">
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu ipsum nisl. Sed nec libero augue. Etiam commodo rhoncus dapibus. Curabitur ac euismod augue. Quisque eget lacinia velit, sed malesuada arcu.</p>
					<hr>
					<h2>- Jess Doe -</h2>
				</li>
				<!-- [end] Testimonial -->

				<!-- Testimonial -->
				<li>
					<img src="images/placeholders/def_testimonials.jpg" alt="testimonial">
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eu ipsum nisl. Sed nec libero augue. Etiam commodo rhoncus dapibus. Curabitur ac euismod augue. Quisque eget lacinia velit, sed malesuada arcu.</p>
					<hr>
					<h2>- John Doe -</h2>
				</li>
				<!-- [end] Testimonial -->

				</ul>

		</div>
	</div>
	</div>
</section>
<!-- [end] Testimonials -->



<!-- Premium packages -->
<section class="premium-packages clearfix">


	<div class="container">

		<a id="pricingtables"></a>

		<h1 class="large">Premium Packages</h1>
		<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>
	</div>



<div class="container premium-cards-wrapper">

	<!-- Premium package  -->
	<section class="premium-card grey">


		<div class="colored">
			<div class="icon-wrapper">
				<i class="fa fa-key"></i>
			</div>

			<h1>Starter</h1>
			<h2>$9 per Month</h2>


			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.</p>

		<div class="premium-more-info">

			<!-- Included -->
			<ul class="included">
				<li><i class="fa fa-check-circle"></i>Up to 2 users</li>
				<li><i class="fa fa-check-circle"></i>25 GB storage space</li>
				<li><i class="fa fa-check-circle"></i>2,000 email addresses</li>
				<li><i class="fa fa-check-circle"></i>5 GB weekly upload</li>
			</ul>
			<!-- [end] Included -->


			<!-- Not-included -->
			<ul class="not-included">
				<li><i class="fa fa-times-circle"></i>SSL certificate</li>
				<li><i class="fa fa-times-circle"></i>Unlimited upload</li>
				<li><i class="fa fa-times-circle"></i>Custom keywords</li>
			</ul>
			<!-- [end] Not-included -->

			<a href="#" class="button">Sign Up</a>
		</div>



		</div>

	</section><!-- [end] Premium package  -->



	<!-- Premium package card  -->
	<section class="premium-card grey">



		<div class="colored">
			<div class="icon-wrapper">
				<i class="fa fa-flask"></i>
			</div>

			<h1>Advanced</h1>
			<h2>$12 per Month</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.</p>

	<div class="premium-more-info">
		<!-- Included -->
		<ul class="included">
			<li><i class="fa fa-check-circle"></i>Up to 3 users</li>
			<li><i class="fa fa-check-circle"></i>50 GB storage space</li>
			<li><i class="fa fa-check-circle"></i>5,000 email addresses</li>
			<li><i class="fa fa-check-circle"></i>25 GB weekly upload</li>
		</ul>
		<!-- [end] Included -->


		<!-- Not-included -->
		<ul class="not-included">
			<li><i class="fa fa-times-circle"></i>SSL certificate</li>
			<li><i class="fa fa-times-circle"></i>Unlimited upload</li>
			<li><i class="fa fa-times-circle"></i>Custom keywords</li>
		</ul>
		<!-- [end] Not-included -->

		<a href="#" class="button">Sign Up</a>

		</div>


		</div>

	</section>
	<!-- [end] Premium package  -->



	<!-- Premium package card  -->
	<section class="premium-card premium-best-deal grey">


		<div class="colored">
			<div class="icon-wrapper">
				<i class="fa fa-star"></i>
			</div>

			<h1>Professional</h1>
			<h2>$19 per Month</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.</p>

		<div class="premium-more-info">

		<!-- Included -->
		<ul class="included">
			<li><i class="fa fa-check-circle"></i>Up to 5 users</li>
			<li><i class="fa fa-check-circle"></i>250 GB storage space</li>
			<li><i class="fa fa-check-circle"></i>10,000 email addresses</li>
			<li><i class="fa fa-check-circle"></i>50 GB weekly upload</li>
			<li><i class="fa fa-check-circle"></i>SSL certificate</li>
			<li><i class="fa fa-check-circle"></i>Unlimited bandwidth</li>
		</ul>
		<!-- [end] Included -->

		<!-- Not-included -->
		<ul class="not-included">
			<li><i class="fa fa-times-circle"></i>Real-time collaboration</li>
		</ul>
		<!-- [end] Not-included -->


		<a href="#" class="button red">Sign Up</a>

		</div>


	</div>

	</section>
	<!-- [end] Premium package -->



	<!-- Premium package card -->
	<section class="premium-card grey">


		<div class="colored">
			<div class="icon-wrapper">
				<i class="fa fa-group"></i>
			</div>

			<h1>Enterprise</h1>
			<h2>$59 per Month</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua.</p>


		<div class="premium-more-info">

		<!-- Included -->
		<ul class="included">
			<li><i class="fa fa-check-circle"></i>Unlimited users</li>
			<li><i class="fa fa-check-circle"></i>2500 GB storage space</li>
			<li><i class="fa fa-check-circle"></i>Unlimited email addresses</li>
			<li><i class="fa fa-check-circle"></i>Unlimited upload</li>
			<li><i class="fa fa-check-circle"></i>SSL certificate</li>
			<li><i class="fa fa-check-circle"></i>Unlimited bandwidth</li>
			<li><i class="fa fa-check-circle"></i>Real-time collaboration</li>
		</ul>
		<!-- [end] Included -->

		<!-- Not-included -->
		<ul class="not-included"></ul>
		<!-- [end] Not-included -->

		<a href="#" class="button">Sign Up</a>

		</div>


	</div>

	</section>
	<!-- [end] Premium package -->


</div>
<!-- [end] Container -->
</section>
<!-- [end] Premium packages -->



<!-- Our clients -->
<section class="our-clients full-width" id="background-clients">
	<div class="overlay-white-bars">
	<div class="container">

	<a id="clients"></a>

	<h1 class="large">Our clients</h1>
	<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>

	<div class="clients-wrapper">
	<ul class="slides">

	<!-- Client #1 -->
	<li class="two columns client">
		<a href="#"><img src="images/placeholders/def_client.jpg" alt="our client"></a>
	</li>
	<!-- [end] Client #1 -->



	<!-- Client #2 -->
	<li class="two columns client">
		<a href="#"><img src="images/placeholders/def_client.jpg" alt="our client"></a>
	</li>
	<!-- [end] Client #2 -->




	<!-- Client #3 -->
	<li class="two columns client">
		<a href="#"><img src="images/placeholders/def_client.jpg" alt="our client"></a>
	</li>
	<!-- [end] Client #3 -->



	<!-- Client #4 -->
	<li class="two columns client">
		<a href="#"><img src="images/placeholders/def_client.jpg" alt="our client"></a>
	</li>
	<!-- [end] Client #4 -->



	<!-- Client #5 -->
	<li class="two columns client">
		<a href="#"><img src="images/placeholders/def_client.jpg" alt="our client"></a>
	</li>
	<!-- [end] Client #5 -->



	<!-- Client #6 -->
	<li class="two columns client">
		<a href="#"><img src="images/placeholders/def_client.jpg" alt="our client"></a>
	</li>
	<!-- [end] Client #6 -->



	<!-- Client #7 -->
	<li class="two columns client">
		<a href="#"><img src="images/placeholders/def_client.jpg" alt="our client"></a>
	</li>
	<!-- [end] Client #7 -->


	<!-- Client #8 -->
	<li class="two columns client">
		<a href="#"><img src="images/placeholders/def_client.jpg" alt="our client"></a>
	</li>
	<!-- [end] Client #8 -->

	</ul>
	</div>

	<div class="clearfix"></div>


	</div>
	</div>
</section>
<!-- [end] Our clients -->





<!-- Contact Section -->
<section class="contact-section clearfix">
	<div class="container">

		<a id="findus"></a>


		<h1 class="large">Find us</h1>
		<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>


	</div>

<!-- Google Maps -->
<div id="maps">
	<div class="map-wrapper">
					<div class="color-bar">
						<div class="c-one"></div>
						<div class="c-two"></div>
						<div class="c-three"></div>
						<div class="c-four"></div>
						<div class="c-five"></div>
					</div>
		<div id="map"></div>
		<div class="gradient-white"></div>
	</div>

<div class="map-details">
	<div class="map-details-inner">
		<i class="fa fa-rocket blue"></i>
		<h1 class="blue">New York office</h1>
		<h2>DevPixels NY</h2>
		<h2>144 Manhattan Avenue</h2>
		<h2>NY9 873</h2>
		<h2>New York, USA</h2>
	</div>

	<div class="map-details-inner">
		<i class="fa fa-globe red"></i>
		<h1 class="red">London office</h1>
		<h2>DevPixels London</h2>
		<h2>76 Regent Street</h2>
		<h2>AL10 9UD</h2>
		<h2>London, UK</h2>
	</div>

	<div class="map-details-inner">
		<i class="fa fa-lightbulb-o green"></i>
		<h1 class="green">Singapore office</h1>
		<h2>DevPixels Singapore</h2>
		<h2>139 Sin Street</h2>
		<h2>SN9 874</h2>
		<h2>Singapore</h2>
	</div>
		<div class="color-bar">
		<div class="c-one"></div>
		<div class="c-two"></div>
		<div class="c-three"></div>
		<div class="c-four"></div>
		<div class="c-five"></div>
		</div>
</div>
</div>
<!-- end Google Maps -->


<!-- Contact form -->

<div id="contact-form" class="container">

	<a id="contactus"></a>

	<h1 class="large">Get in touch</h1>
	<h2 class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</h2>

<!-- Social networks -->
		<ul class="social-icons">
			<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dropbox"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-flickr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
		</ul>
		<!-- [end] Social networks -->

    <form action="#" method="post">

		<!-- Message section -->
        <div id="contact-message-section">
           <!--[if IE]>
			<label for="subject">Subject</label>
            <![endif]-->
          <input type="text" name="contact[subject]" id="contactSubject" placeholder="Subject" >
                 <!--[if IE]>
		<label for="message">Your Message</label>
                    <![endif]-->
          <textarea name="contact[message]" id="contactMessage" cols="20" rows="8" placeholder="Your Message"></textarea>
        </div>
        <!-- [end] Message section -->


        <!-- About section -->
        <div id="contact-about-section">
         <!--[if IE]>
            <label for="name">Name</label>
        <![endif]-->
          <input type="text" name="contact[name]" id="contactName" placeholder="Name (required)" >
           <!--[if IE]>
			<label for="email">Email</label>
            <![endif]-->
          <input type="text" name="contact[email]" id="contactEmail" placeholder="Email (required)">
        </div>
        <!-- [end] About section -->


		<!-- ReCaptcha -->
	    <div id="contact-recaptcha">
		 <script type="text/javascript">
			 var RecaptchaOptions = {
			    theme : 'custom',
			    custom_theme_widget: 'recaptcha_widget'
			 };
		 </script>

			<div id="recaptcha_widget" class="recaptcha_widget">
				<div id="recaptcha_image"></div>
				<div class="recaptcha_only_if_incorrect_sol">Incorrect. Please try again.</div>

				<div class="recaptcha_input">
					<label class="recaptcha_only_if_image" for="recaptcha_response_field">Enter the words above:</label>
					<label class="recaptcha_only_if_audio" for="recaptcha_response_field">Enter the numbers you hear:</label>

					<input type="text" id="recaptcha_response_field" name="recaptcha_response_field" required="required" placeholder="Enter the words above">
				</div>

				<ul class="recaptcha_options">
					<li>
						<a href="javascript:Recaptcha.reload()">
							<i class="fa fa-refresh"></i>
							<span class="captcha_hide">Get another CAPTCHA</span>
						</a>
					</li>
					<li class="recaptcha_only_if_image">
						<a href="javascript:Recaptcha.switch_type('audio')">
							<i class="fa fa-volume-up"></i><span class="captcha_hide"> Get an audio CAPTCHA</span>
						</a>
					</li>
					<li class="recaptcha_only_if_audio">
						<a href="javascript:Recaptcha.switch_type('image')">
							<i class="fa fa-picture-o"></i><span class="captcha_hide"> Get an image CAPTCHA</span>
						</a>
					</li>
					<li>
						<a href="javascript:Recaptcha.showhelp()">
							<i class="fa fa-question-circle"></i><span class="captcha_hide"> Help</span>
						</a>
					</li>
				</ul>
			</div>

			<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=YOUR_PUBLIC_KEY"></script>
			<noscript>
				<iframe class="recaptcha_iframe" src="http://www.google.com/recaptcha/api/noscript?k=YOUR_PUBLIC_KEY" height="300" width="500"></iframe><br>
				<textarea name="recaptcha_challenge_field"></textarea>
				<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
			</noscript>
	    </div>
	    <!-- [end] ReCaptcha -->


		<!-- Submit button -->
	    <div id="contact-submit-button">
	        <input name="submit" type="submit" id="submit" tabindex="5" value="Send message" class="send-comment blue">
	    </div>

	    <input type="hidden" name="submitted" id="submitted" value="true" />
	    <!-- [end] Submit button -->

    </form>
    <div class="clearfix"></div>
<div class="contact-result"></div>
</div>
<!-- [end] Contact form -->
</section>
<!-- [end] Contact Section -->




<!-- Buy now -->
<div id="buy-now">

	<h1><span class="slabtext"><i class="fa fa-heart-o"></i> I want this template!</span></h1>
</div>
<!-- end Buy now -->


<!-- Footer -->
<section id="footer-section" class="full-width">
	<div class="container">

		<!-- Footer logo(text) -->
		<div class="logo-holder">
			<h1><span class="slabtext">Purescroll</span></h1>
		</div>
		<!-- [end] Footer logo(text) -->

		<!-- Social networks -->
		<ul class="social-icons">
			<li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-dropbox"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-foursquare"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-flickr"></i></a></li><li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
		</ul>
		<!-- [end] Social networks -->

		<!-- Copyright -->
		<div class="copyright-notice">
			<h2><span class="bold">©2014 DevPixels. All rights reserved. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span><br>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</h2>
		</div>
		<!-- [end] Copyright -->

	</div>
</section>
<!-- [end] Footer -->


</body>


<!--  ===========  -->
<!--  = jQuery  =  -->
<!--  ===========  -->

<!-- Using Google DNS -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->

<!-- Using local jQuery library -->
<script type="text/javascript" src="scripts/jquery-1.10.2.min.js"></script>


<!--  ======================  -->
<!--  = Additional scripts =  -->
<!--  ======================  -->



<script type="text/javascript" src="scripts/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="scripts/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="scripts/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="scripts/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="scripts/jquery.flexslider.js"></script>
<script type="text/javascript" src="scripts/jquery.isotope.js"></script>
<script type="text/javascript" src="scripts/jquery.typed.js"></script>
<script type="text/javascript" src="scripts/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="scripts/jquery.fitvids.js"></script>
<script type="text/javascript" src="scripts/jquery.easing.js"></script>
<script type="text/javascript" src="scripts/jquery.slabtext.js"></script>
<script type="text/javascript" src="scripts/jquery.appear.js"></script>
<script type="text/javascript" src="scripts/jquery.countTo.js"></script>
<script type="text/javascript" src="scripts/jquery.jetmenu.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false
"></script>
<script type="text/javascript" src="scripts/jquery.smoothscroll.js"></script>




<!--  ==================  -->
<!--  = Custom scripts =  -->
<!--  ==================  -->
<script type="text/javascript" src="scripts/scripts.js"></script>


</html>