.navbar-fixed-top {
    z-index: 999999999;
}

.btn.btn-color, input[type="submit"] {
    background: #db3b3b !important;
    color: #fff;
    border-radius: 0px;
}

h2 i {
    color: #db3b3b;
}

.btn-color:hover {
    color: #fff;
}

.btn.btn-radio {
    background: #ef4f4f;
    color: #fff;
}

.btn.btn-radio.active {
    background: #db3b3b;
    color: #fff;
}

#nprogress .bar {
    background: #db3b3b;
}

#nprogress .spinner-icon {
    border-top-color: #db3b3b;
    border-left-color: #db3b3b;
}

#nprogress .peg {
    box-shadow: 0 0 10px #db3b3b, 0 0 5px #db3b3b;
}

.nav .caret, .nav > li > a, .navbar .navbar-nav > .active > a, .nav a:hover .caret {
    color: #db3b3b;
    border-top-color: #db3b3b;
    border-bottom-color: #db3b3b;
}

.navbar-nav > li > a.upload-btn, .navbar-inverse .navbar-nav > li > a:hover {
    background: #db3b3b;
}

.active .nav-border-bottom {
    background: #db3b3b;
}

.form-control:focus {
    border-color: #db3b3b;
}

a.spcl-button.color {
    background-color: #db3b3b;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #db3b3b;
}

ul.tags li a {
    background: #db3b3b;
}

div.tagsinput span.tag {
    border: 1px solid #db3b3b;
    color: #fff;
    background: #ef4f4f;
}

.table-striped > tbody > tr:first-child > th {
    background: #db3b3b;
    border: 0px;
    color: #fff;
}

.table-striped > tbody > tr:first-child {
    border: 0px;
}

.table-striped > tbody > tr:nth-child(2) > td {
    border-top-color: #ff6d6d;
}

.pagination > li > a {
    background: #a90909;
}

.pagination > li > span, .pagination > .active > span, .pagination > li > a:hover, .pagination > .active > span:hover {
    background: #ff6d6d;
}

.pagination > li > span:hover, .pagination > .disabled > span {
    background: #ff9f9f;
    color: #a90909;
}

.pagination > li > a, .pagination > li > span, .pagination > .disabled > span, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus, .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    border: 1px solid #db3b3b;
}

div.tagsinput span.tag a {
    color: #a90909;
}

a.spcl-button.color:hover {
    background-color: #ef4f4f;
    color: #fff;
}

.btn.btn-prev:hover, .btn.btn-next:hover {
    background: #db3b3b;
}

/********** SECONDARY COLOR **********/
.home-media-like.active {
    background: #0098cb;
}

p.home-like-count {
    color: #0098cb;
}

a, a:hover, a:focus {
    color: #0098cb;
}

.user-menu p {
    color: #0098cb;
}

#next_media li a div.active, #next_media li a:hover div {
    border-color: #0098cb;
}

.admin-block.active, .admin-block:hover {
    border-color: #db3b3b;
}

h2.subheader {
    border-color: #a90909;
    background: #db3b3b;
}

.ouro:after {
    background-color: #db3b3b;
}

.ouro {
    background-color: #ff6d6d;
}

h2.subheader i {
    color: #a90909;
}

.load-more-btn {
    border-bottom-color: #a90909;
}
.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}

.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}